body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.field {
  width: 100%;
}

.plan {
  overflow-y: scroll;
  max-height: 300px;
  width: 100%;
}

.paper {
  margin-bottom: 20px;
  padding-bottom: 16px;
}